.introDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;
    height: 60vh;

    margin: 0 auto;
}

.marginTop {
    padding-top: 15%;
    width: 100%;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introDiv h3, .highlighted {
    display: inline;

    color: var(--color-terciary);
    font-size: var(--step-4);
    font-weight: 700;

    width: 100%;

    line-height: 150%;
}

.highlighted {
    font-size: calc(var(--step-4) + .1vw);
    color: var(--color-secondary);
    font-weight: 800;
}

.skillsIcon {
    display: flex;
    flex-direction: row;
    
    gap: 2%;

    margin-left: 5%;
}

.skillsIcon > * {
    font-size: 3vw;
    fill: #dfdfdf;

    transition-property: fill, filter;
    transition: 350ms ease;
}

.skillsIcon > *:hover {
    transform: scale(1.1, 1.1);
}

.htmlIcon:hover {
    fill: #dc4a25;
    filter: drop-shadow(0 0 .15vw #dc4a25);
}

.cssIcon:hover {
    fill: #274ce4;
    filter: drop-shadow(0 0 .15vw #274ce4);
}

.jsIcon:hover {
    fill: #eed91d;
    filter: drop-shadow(0 0 .15vw #eed91d);
}

.reactIcon:hover {
    fill: #5ed2f2;
    filter: drop-shadow(0 0 .15vw #5ed2f2);
}

.nextIcon:hover {
    fill: #9a9898;
    filter: drop-shadow(0 0 .15vw #1a1a1a);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding-left: 10%;
}

.about h5 {
    color: var(--color-terciary);
    font-size: var(--step-1);

    line-height: 210%;
    font-weight: 400;
    text-align: end;
}

.about .highlighted {
    font-size: var(--step-1);
}




@media (max-width: 800px) {
    .introDiv {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: auto;
        margin-top: 10%;
    }

    .introduction {
        height: 35%;

        align-items: center;
        text-align: center;
    }

    .introduction h3 {
        font-size: var(--step-3);
    }

    .introduction .highlighted {
        font-size: calc(var(--step-3) + .5vw);
    }

    .skillsIcon {
        justify-content: center;
        width: 100%;
        gap: 7%;

        margin-top: 15%;
    }

    .skillsIcon > * {
        font-size: 7vw;
    }

    .about {
        width: 100%;

        padding: 0;
        margin: 15% 0;
    }

    .about h5 {
        text-align: center;
    }
}