
.mainBackground {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    width: 100%;
    height: auto;

    padding: 7% 5%;
    padding-top: 12%;
}

.bigLogo {
    fill: var(--color-secondary);

    position: relative;
    z-index: 3;

    height: 60vh;
}


.textSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 3;

    height: 60vh;
    width: 50%;

    color: var(--color-terciary);

    text-align: end;
}

.mainText {
    font-size: var(--step-4);
    font-weight: 600;

    padding-top: 5%;
}

.mainText .highlighted {
    font-size: calc(var(--step-4) + 0.2vw);
    color: var(--color-secondary);
    font-weight: 700;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 3;

    cursor: pointer;

    width: 100%;

    gap: 15%;
}

.icon {
    width: clamp(4rem, 4vw + 1rem, 20rem);

    cursor: pointer;

    transition-property: transform, filter;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.icon :last-child {
    fill: var(--color-terciary);
}

.icon:hover {
    transform: scale(1.3, 1.3);;

    filter: drop-shadow(0 0 0.20vw var(--color-secondary));
}

.icon:hover :last-child {
    fill: var(--color-secondary);
}



@media (max-width: 800px) {
    .mainBackground {
        flex-direction: column-reverse;
        align-items: center;

        padding-top: 15rem;
        height: 100vh;
    }

    .mainText {
        text-align: center;
    }

    .bigLogo {
        width: 60%;
        margin-top: 10%;
    }
}