
.MobileBar {
    width: 100%;
    height: 100vh;

    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    position: fixed;
    z-index: 250;

    transition: height 350ms ease 350ms;
}

.barCollapse {
    height: 8vh;
}

.MobileBar .header {
    position: absolute;
    z-index: 150;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: clamp(0.1rem, 7vh + 1rem, 1000rem);

    background-color: var(--color-secondary);

    padding: 0 8%;
}

.Logo {
    height: 70%;

    fill: var(--color-primary);
}

.burguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: clamp(4.5rem, 10vw + 1rem, 5%);
    height: 60%;
}

.burguer span {
    display: inline-block;

    width: 100%;
    height: 13%;
    border-radius: 2vw;

    background-color: var(--color-primary);

    transition-property: background-color, transform;
    transition: 250ms ease;
}



.Navlinks,
.Navlinks li,
.Navlinks a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Navlinks {
    width: 50%;
    height: 100%;

    list-style: none;
    background-color: var(--color-secondary);

    box-shadow: inset 0 0 4.5vw rgb(157, 46, 46);
    margin: auto 0;

    transform: translateX(100%);

    transition-property: transform;
    transition: 350ms ease;
}

.Navlinks li {
    width: 20rem;
    height: var(--nav-height);

    pointer-events: none;

    transition-property: transform;
    transition-duration: 250ms;
    transition-duration: ease;
}


.Navlinks a {
    pointer-events: auto;

    font-size: var(--step-0);
    font-weight: 500;
    width: 12rem;

    transition-property: font-size, font-weight, color, transform;
    transition-duration: 250ms;
    transition-timing-function: var(--custom-ease);
}




.linkActive a {
    font-weight: 700;
    font-size: var(--step-1);

    color: var(--color-terciary);
}





.Hide {
    transform: translateX(200%);
}

.LinksBG {
    position: absolute;
    width: 100%;
    height: 100%;

    backdrop-filter: blur(1vw);
    -webkit-backdrop-filter:blur(1vw);
    background-image: linear-gradient(180deg, rgb(223, 109, 82, 0.5), rgba(255, 255, 255, 0));

    transition-property: transform, opacity;
    transition: 350ms ease, 350ms ease;

}

.HideBG {
    transform: translateX(100%);
    opacity: 0;
}


.burguerActive span {
    background-color: var(--color-terciary);
}

.burguerActive span:nth-child(2) {
    transform: translateX(-15%);
}

.burguerActive span:nth-child(3) {
    transform: translateX(-30%);
}




.language {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 10%;

    margin-top: 15%;

    width: 80%;
    height: 15%;
}

.language > * {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    width: 40%;
    background-color: var(--color-primary);
    border-radius: .25vw;

    transition: transform 350ms ease, background-color 350ms ease;
}

.language .Icon {
    height: 60%;
    width: auto;
    filter: grayscale(100%);

    transition: filter 350ms ease;
}

.Flag:hover, .FlagActive:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
}

.FlagActive {
    background-color: var(--color-terciary);
    cursor: pointer;
}

.FlagActive .Icon {
    filter: grayscale(0);
}



@media (max-width: 1000px) and (orientation: landscape) {
    .burguer  {
        width: 4vw;
    }
}

@media (max-width: 700px) and (orientation: landscape) {
    .burguer  {
        width: 6vw;
    }
}