
.polygonBackground {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 490%;

    overflow: hidden;
}

.polygon {
    position: relative;
    width: 7vw;
    z-index: 1;

    filter: blur(.75vw);
}

.polygon {
    animation-name: felldown;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.polygon:nth-child(1) { 
    --r: rotate(159deg);
    transform: var(--r);
    left: 26%;
    top: 1%;

    animation-duration: 3.8s;
}

.polygon:nth-child(2) { 
    --r: rotate(137deg);
    transform: var(--r);
    left: 80%;
    top: 23%;

    animation-duration: 4.5s;
}

.polygon:nth-child(3) { 
    --r: rotate(116deg);
    transform: var(--r);
    left: 48%;
    top: 70%;

    animation-duration: 5.5s;
}

.polygon:nth-child(4) { 
    --r: rotate(87deg);
    transform: var(--r);
    left: 25%;
    top: 80%;

    animation-duration: 3.7s;
}

.polygon:nth-child(5) { 
    --r: rotate(250deg);
    transform: var(--r);
    left: 34%;
    top: 82%;

    animation-duration: 6s;
}

.polygon:nth-child(6) { 
    --r: rotate(331deg);
    transform: var(--r);
    left: 3%;
    top: 76%;

    animation-duration: 2.8s;
}

.polygon:nth-child(7) { 
    --r: rotate(150deg);
    transform: var(--r);
    left: -25%;
    top: 50%;

    animation-duration: 3.9s;
}

.polygon:nth-child(8) { 
    --r: rotate(215deg);
    transform: var(--r);
    left: -30%;
    top: 88%;

    animation-duration: 5.5s;
}

.polygon:nth-child(9) { 
    --r: rotate(116deg);
    transform: var(--r);
    left: -48%;
    top: 32%;

    animation-duration: 5.2s;
}

.polygon:nth-child(10) { 
    --r: rotate(210deg);
    transform: var(--r);
    left: 2%;
    top: 34%;

    animation-duration: 4.5s;
}

.polygon:nth-child(11) { 
    --r: rotate(276deg);
    transform: var(--r);
    left: 19%;
    top: 42%;

    animation-duration: 3.9s;
}

.polygon:nth-child(12) { 
    --r: rotate(19deg);
    transform: var(--r);
    left: -60%;
    top: 66%;

    animation-duration: 3.5s;
}

.polygon:nth-child(13) { 
    --r: rotate(67deg);
    transform: var(--r);
    left: -80%;
    top: 71%;

    animation-duration: 4.2s;
}

.polygon:nth-child(14) { 
    --r: rotate(356deg);
    transform: var(--r);
    left: -32%;
    top: 72%;

    animation-duration: 3.4s;
}

.polygon:nth-child(15) { 
    --r: rotate(308deg);
    transform: var(--r);
    left: 90%;
    top: 80%;

    animation-duration: 5.2s;
}

.polygon:nth-child(16) { 
    --r: rotate(229deg);
    transform: var(--r);
    left: 27%;
    top: 22%;

    animation-duration: 2.2s;
}

.polygon:nth-child(17) { 
    --r: rotate(13deg);
    transform: var(--r);
    left: 45%;
    top: 2%;

    animation-duration: 3.8s;
}

.polygon:nth-child(18) { 
    --r: rotate(346deg);
    transform: var(--r);
    left: 15%;
    top: 4%;

    animation-duration: 5.2s;
}

.polygon:nth-child(19) { 
    --r: rotate(246deg);
    transform: var(--r);
    left: -25%;
    top: 54%;

    animation-duration: 4.2s;
}

.polygon:nth-child(20) { 
    --r: rotate(18deg);
    transform: var(--r);
    left: 37%;
    top: 52%;

    animation-duration: 3.7s;
}

.polygon:nth-child(21) { 
    --r: rotate(230deg);
    transform: var(--r);
    left: 46%;
    top: 60%;

    animation-duration: 3.4s;
}

.polygon:nth-child(22) { 
    --r: rotate(158deg);
    transform: var(--r);
    left: 4%;
    top: 30%;

    animation-duration: 2.6s;
}

.polygon:nth-child(23) { 
    --r: rotate(219deg);
    transform: var(--r);
    left: 12%;
    top: 45%;

    animation-duration: 3s;
}

.polygon:nth-child(24) { 
    --r: rotate(353deg);
    transform: var(--r);
    left: 17%;
    top: 49%;

    animation-duration: 4.6s;
}

.polygon:nth-child(25) { 
    --r: rotate(128deg);
    transform: var(--r);
    left: -35%;
    top: 15%;

    animation-duration: 5.2s;
}

.polygon:nth-child(26) { 
    --r: rotate(220deg);
    transform: var(--r);
    left: -40%;
    top: 40%;

    animation-duration: 2.3s;
}

.polygon:nth-child(27) { 
    --r: rotate(208deg);
    transform: var(--r);
    left: -29%;
    top: 40%;

    animation-duration: 3.6s;
}


@keyframes felldown {
    0% {
        transform: translateY(0%) scale(0, 0) var(--r);
    }
    25% {
        transform: translateY(100%) scale(0.5, 0.5) var(--r);
    }
    50% {
        transform: translateY(150%) scale(1, 1) var(--r);
    }
    75% {
        transform: translateY(200%) scale(.75, .75) var(--r);
    }
    100% {
        transform: translateY(250%) scale(0, 0) var(--r);
    }
}

@media (max-width: 1350px) {
    .polygonBackground {
        height: 450%;
    }
}

@media (max-width: 1200px) {
    .polygonBackground {
        height: 395%;
    }
}

@media (max-width: 980px) {
    .polygonBackground {
        height: 390%;
    }
}

@media (max-width: 870px) {
    .polygonBackground {
        height: 370%;
    }
}

@media (max-width: 800px) {
    .polygonBackground {
        height: 420%;
    }
}
@media (max-width: 700px) {
    .polygonBackground {
        height: 540%;
    }
}

@media (max-width: 600px) {
    .polygonBackground {
        height: 500%;
    }
}

@media (max-width: 470px) {
    .polygonBackground {
        height: 480%;
    }
}

@media (max-width: 360px) {
    .polygonBackground {
        height: 450%;
    }
}

@media (max-width: 300px) {
    .polygonBackground {
        height: 400%;
    }
}