.projetosBackground {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background-size: cover;
    /* background: linear-gradient(125deg, rgba(36,36,36,1) 0%, rgba(19,19,19,1) 100%); */
}

.bigTitle {
    font-size: var(--step-3);
    color: var(--color-secondary);
    background: linear-gradient(160deg, rgba(211, 125, 76, 1) 0%, rgba(234, 81, 86, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bigProjectsContainer {
    display: grid;
    gap: 10%;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, 30%);
    grid-auto-rows: 25vw;

    width: 80%;
    max-height: auto;
    margin: 0 auto;
    margin-top: 7%;
}


.bigCard {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    user-select: none;

    backdrop-filter: blur(40px);
    -webkit-backdrop-filter:blur(40px);
    box-shadow: 10px 10px 1vw rgba(24, 24, 24, 0.37);
    background-image: linear-gradient( 155deg, rgba(230, 230, 230, 0.556), rgba(191, 191, 191, 0) );
    border-radius: .5vw;
}


.bigCard .imagesDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 60%;
    max-width: 100%;
    gap: 50%;

    border-top-left-radius: .5vw;
    border-top-right-radius: .5vw;

    clip-path: inset(-100% 0 0 0);
    background-color: #282828;
}


.bigCard:first-child {
    flex-direction: row;

    grid-column: span 2;
}

.bigCard:first-child .imagesDisplay { 
    height: 100%;
    width: 50%;

    border-top-left-radius: .5vw;
    border-top-right-radius: 0;
    border-bottom-left-radius: .5vw;
}


.bigCard:first-child .imagesDisplay .arrowLeft,
.bigCard:first-child .imagesDisplay .arrowRight {
    width: 2vw;
    height: 3vw;
}

.bigCard:first-child .imagesDisplay > * {
    width: 50%;
    height: 100%;
}



.bigCard:first-child .imagesDisplay > :not( :first-child ):not( :last-child ) { 
    border-top-right-radius: 0;
    border-bottom-left-radius: .5vw;
}






.bigCard .imagesDisplay .arrowLeft {
    position: relative;
    transform: rotate(90deg);
}

.bigCard .imagesDisplay .arrowRight {
    position: relative;
    transform: rotate(-90deg);
}


.arrowLeft > *, .arrowRight > * {
    stroke: #fff;
    stroke-width: 3;
    fill: none;
    
    filter: contrast(40%);
    width: 5rem;

    transition-property: filter, transform;
    transition-duration: 450ms;
    transition-timing-function: ease;
}

.arrowLeft, .arrowRight {
    position: absolute;
    z-index: 7;
    overflow: visible;

    cursor: pointer;

    width: 2.5rem;

    filter: drop-shadow(0 0 0.1vw rgba(16, 16, 16, 0.653)) brightness(100%);

    transition-property: filter, transform;
    transition-duration: 450ms;
    transition-timing-function: ease;
}

.arrowLeft:hover > *, .arrowRight:hover > * {
    filter: contrast(100%);
}

.arrowLeft .active {
    transform: translateX(-5%);
}

.arrowRight .active {
    transform: translateX(5%);
}








.imageView {
    position: absolute;
    z-index: 5;

    width: 100%;
    height: auto;

    box-shadow: 0 0 .5vw;


    transition-property: opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

.imageBlur {
    position: absolute;
    z-index: 4;

    height: 100%;
    width: 100%;

    opacity: 0.5;
    filter: blur(0.4vw);

    transition-property: filter, opacity;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}




.cardInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    color: var(--color-terciary);

    height: 40%;

    padding: 5%;
}

.cardInfo h1 {
    font-size: var(--step-1);
}

.cardInfo .head  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 20%;
}


.cardInfo .head .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15%;
    gap: 20%;
}

.icons > * path {
    fill: var(--color-terciary);

    transition-property: fill;
    transition: 250ms ease;
}

.cardInfo .head .icons > * {
    font-size: 1.5vw;
    fill: var(--color-terciary);

    cursor: pointer;

    transition-property: transform, filter;
    transition: 250ms ease;
}

.cardInfo .head .icons > *:hover {
    transform: scale(1.3, 1.3);
    filter: drop-shadow(0 0 .1vw var(--color-secondary));
}

.cardInfo .head .icons > *:hover path {
    fill: var(--color-secondary);
}

.cardInfo h3 {
    color: rgb(211, 211, 211);
    font-size: var(--step--2);
    font-weight: 400;
}

.cardInfo p {
    font-size: var(--step--2);
    margin-block: auto;
}

.bigCard:first-child .cardInfo {
    padding: 2.5%;

    width: 50%;
    height: 100%;
}

.bigCard:first-child .cardInfo .head {
    height: 8%;
}

.bigCard:first-child .cardInfo h1 {
    font-size: var(--step-2);
}

.bigCard:first-child .cardInfo h3 {
    font-size: var(--step-1);
}

.bigCard:first-child .cardInfo p {
    font-size: var(--step-0);
}




.tags {
    display: flex;
    flex-direction: row;

    margin-top: auto;
    
    gap: 2.5%;
}

.tags > * {
    background-color: var(--color-secondary);
    font-size: calc(.3vw + .3rem);

    box-shadow: 0 0 .5vw #df6c52c1;

    padding: 2%;
    border-radius: 0.2vw;
}

.tags > *:last-child {
    background-color: var(--color-primary);
    font-size: calc(.3vw + .3rem);

    box-shadow: 0 0 .5vw #1f1f1fc1;

    margin-left: auto;
    cursor: pointer;

    transition-property: transform;
    transition: 250ms ease;
}

.tags > *:last-child:hover {
    background-color: #353535;
    box-shadow: #353535bb;

    transform: scale(1.2, 1.2);
}



.seeMore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 3%;

    width: 62%;
    height: 20vw;

    color: var(--color-terciary);

    margin-top: 15%;
    margin-bottom: 10%;

    backdrop-filter: blur(40px);
    -webkit-backdrop-filter:blur(40px);
    box-shadow: 10px 10px 1vw rgba(24, 24, 24, 0.37);
    background-image: linear-gradient( 65deg, rgba(48, 48, 48, 0.556), rgba(191, 191, 191, 0.092) );
    border-radius: .5vw;
}

.seeMore h1 {
    font-size: var(--step-1);
}

.bigGit {
    font-size: calc(7vw + 1rem);
    fill: var(--color-terciary);

    margin-top: 5%;
    cursor: pointer;

    transition-property: transform, fill;
    transition: 350ms ease;
}

.bigGit:hover {
    fill: rgb(172, 172, 172);
    transform: scale(1.2, 1.2);
}

.seeMore h4 a {
    color: var(--color-terciary);
    font-size: var(--step--1);
    font-weight: 500;

    transition-property: color;
    transition: 350ms ease;
}

.seeMore h4 a:hover {
    color: rgb(172, 172, 172);
}